<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="lemonwayToolBoxSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8090/lemonwayToolBox.asmx"
                binding="basicHttpBinding" bindingConfiguration="lemonwayToolBoxSoap"
                contract="ServiceReference1.lemonwayToolBoxSoap" name="lemonwayToolBoxSoap" />
        </client>
    </system.serviceModel>
</configuration>